    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Titillium Web', sans-serif;
    }


    header {
        background-image: url(./imagens/Rectangle\ 1.png);
        background-size: cover;
        height: 8.375rem;
        display: flex;
        justify-content: center;
        
    }